# All artefacts and build products
build/
build-debug/
build-pico/
build-pico-debug/
build-host/
build-host-debug/
build-tests/
build-tests-coverage/
_codeql_build_dir/
_codeql*
Testing/
*.log
# MacOS specific files
.DS_Store